<div class="check-description">
  <div class="check-description__legend">{{#if label}}{{label}}{{else}}{{localize "DASU.Sheet.Section.Description"}}{{/if}}</div>
  <div class="check-description__body">{{{html}}}</div>
</div>
