<header class="sheet-header">
  <div class="actor-header__name-row">
    <h1><input class="actor-header__name" type="text" name="name" value="{{actor.name}}" placeholder="{{localize 'DASU.Party.NamePlaceholder'}}" /></h1>
  </div>
  <div class="party-header__description">
    <div class="editor" data-edit="system.description">{{{descriptionHTML}}}</div>
  </div>
</header>
