<div class="cell-item-controls">
  <a class="cell-item-controls__control {{#if disableEdit}}cell-item-controls__control--disabled{{/if}}"
     data-action="edit"
     data-tooltip="{{localize 'DASU.Sheet.EditItem'}}">
    <i class="fas fa-edit"></i>
  </a>
  <a class="cell-item-controls__control"
     data-action="toggle"
     data-tooltip="{{localize 'DASU.Effect.Toggle'}}">
    <i class="fas fa-power-off"></i>
  </a>
  {{#unless hideDelete}}
    <a class="cell-item-controls__control {{#if disableDelete}}cell-item-controls__control--disabled{{/if}}"
       data-action="delete"
       data-tooltip="{{localize 'DASU.Sheet.DeleteItem'}}">
      <i class="fas fa-trash"></i>
    </a>
  {{/unless}}
  <a class="cell-item-controls__control {{#if disableMenu}}cell-item-controls__control--disabled{{/if}}"
     data-action="menu"
     data-tooltip="{{localize 'DASU.Sheet.MoreOptions'}}">
    <i class="fas fa-bars"></i>
  </a>
</div>
