<div class="cell-adv-level">
  <input type="number" min="1" step="1" value="{{adv.level}}"
    data-advancement-id="{{adv.id}}" data-field="level"
    {{#unless editable}}disabled{{/unless}} />
</div>
