{{#if data}}
  <div class="cell-resource {{cssClass}}">
    <span class="cell-resource__current">{{data.current}}</span>
    <span class="cell-resource__sep">/</span>
    <span class="cell-resource__max">{{data.max}}</span>
  </div>
{{/if}}
