<div class="feature-levels">
  <div class="feature-description">
    <label for="system.description"><strong>Description:</strong></label>
    <textarea name="system.description" id="system.description" rows="3" style="width: 100%;">{{system.description}}</textarea>
  </div>
  <style>
    .feature-description { margin-top: 1em; }
  </style>
</div> 