<header class="sheet-header">
  <h1><input class="header-name" type="text" name="name" value="{{actor.name}}" placeholder="{{localize 'DASU.Actor.DaemonNamePlaceholder'}}" /></h1>
  <div class="header-level">
    <span class="header-lv-label">{{localize "DASU.Actor.Level.abbr"}}</span>
    <input class="dasu-pill" type="text" name="system.level" value="{{system.level}}" data-dtype="Number" />
  </div>
</header>
