<header class="sheet-header">
  <input class="header-name" type="text" name="name" value="{{actor.name}}" placeholder="NPC Name" />
  <div class="header-level">
    <span class="header-lv-label">CR</span>
    <input class="dasu-pill" type="text" name="system.cr" value="{{system.cr}}" data-dtype="Number" />
  </div>
</header>
