<header class="sheet-header">
  <h1><input class="header-name" type="text" name="name" value="{{actor.name}}" placeholder="Summoner Name" /></h1>
  <div class="header-level">
    <span class="header-lv-label">LVL</span>
    <input class="dasu-pill" type="text" name="system.level" value="{{system.level}}" data-dtype="Number" {{#unless editable}}readonly{{/unless}} />
  </div>
</header>
