<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="items">
  {{> "systems/dasu/templates/actor/parts/aptitudes.hbs"}}
  {{> "systems/dasu/templates/actor/parts/actor-items.hbs"}}
</section>

