<div class="resource-popover__row">
  <span class="resource-popover__label resource-popover__label--wp">{{label}}</span>
  <input class="resource-popover__value dasu-pill" value="{{value}}" type="number" min="0" />
  <span class="resource-popover__sep">/</span>
  <input class="resource-popover__max dasu-pill" value="{{nextThreshold}}" readonly />
</div>
<div class="resource-popover__row resource-popover__stepper">
  <button type="button" class="resource-popover__btn dasu-pill" data-step="-1">−</button>
  <input class="resource-popover__delta dasu-pill" value="1" type="number" min="1" />
  <button type="button" class="resource-popover__btn dasu-pill" data-step="1">+</button>
</div>
