<div class="pop-row">
  <span class="resource-label {{labelClass}}">{{label}}</span>
  <input class="pop-value dasu-pill" value="{{value}}" />
  <span class="resource-sep">/</span>
  <input class="pop-max dasu-pill" value="{{max}}" />
</div>
<div class="pop-row resource-stepper">
  <button type="button" class="resource-btn dasu-pill" data-step="-1">−</button>
  <input class="resource-delta dasu-pill" value="1" />
  <button type="button" class="resource-btn dasu-pill" data-step="1">+</button>
</div>
