<div class="header-item-controls">
  <a data-action="create"
     data-effect-type="{{sectionType}}"
     data-tooltip="{{localize 'DOCUMENT.Create'}} {{localize 'DOCUMENT.ActiveEffect'}}">
    <i class="fas fa-plus"></i>
  </a>
</div>
