/* Window Styles */
.window-app {
  font-family: var(--font-primary);
}

/* Basic rollable styling - specific enough to not conflict with consistency files */
.rollable:hover,
.rollable:focus {
  color: var(--dasu-c-black);
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
