<div class="dasu-resistance-card">
  <img src="{{resistImg}}" class="dasu-resistance-card__icon" alt="{{typeLabel}}" />
  <span class="dasu-resistance-card__level">{{levelLabel}}</span>
  <strong class="dasu-resistance-card__abbr">{{abbr}}</strong>
</div>
