<header class="sheet-header">
  <input class="header-name" type="text" name="name" value="{{item.name}}" placeholder="{{localize 'DASU.ItemName'}}" />
  <div class="header-subtitle">{{item.type}}</div>
</header>
