<div class="pipeline-body pipeline-body--effect">
  <div class="pipeline-body__effect-label">{{name}}{{#if duration}} {{localize "DASU.Pipeline.EffectFor"}} {{duration}}{{/if}}</div>
  {{#if description}}
  <div class="pipeline-body__description">{{{description}}}</div>
  {{/if}}
</div>
