{{! Description Tab }}
<div class='tab description compact-tab {{tab.cssClass}}' data-group='primary' data-tab='description'>
  <div class="form-row">
    <label>{{systemFields.description.label}}</label>
    {{formInput @root.htmlInputField value=system.description name="system.description" toggled=@root.editable enriched=enrichedDescription disabled=(not @root.editable)}}
  </div>
</div>